<section>
  <div class="grid grid-cols-2 gap-6 pb-6">
    <div class="flex flex-col justify-around items-center p-4 bg-white shadow rounded-lg overflow-auto max-h-[24rem] 2xl:max-h-full 2xl:h-[34rem]">
      <div class="pb-4">
        <div class="flex justify-center space-x-8">
          <a id=""
            class="tablink-chart text-sm min-w-24 pb-1 border-b-4 border-slate-800 hover:text-slate-950 font-semibold text-center"
            href="#">Gesamt</a>
          <a id=""
            class="tablink-chart text-sm min-w-24 pb-1 border-b-4 border-transparent text-slate-800 hover:text-slate-950 font-semibold text-center"
            href="#">???</a>
        </div>
      </div>
      <div id="scenarios-chart" class="index-chart grow"></div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="p-4 rounded-lg shadow bg-white overflow-auto max-h-[24rem] 2xl:max-h-full 2xl:h-[34rem]">
        <h2 class="text-sm font-normal text-slate-500 mb-4">Wählen Sie ein Szenario aus</h2>
        <div id="scenarioTabs" class="flex flex-col gap-2 pb-4">
          {% for scenario in scenarios %}
            <button class="scenario-button py-1 px-4 text-sm rounded-full border {% if forloop.first %}selected{% endif %}"
                    onclick="updateScenario('{{ scenario.title }}', '{{ scenario.description }}', this, '{{ scenario.number }}');">
              {{ scenario.number }}: {{ scenario.name }}
            </button>
          {% endfor %}
        </div>
        <p class="flex justify-center">
          <a href="#"
             class="block w-[12rem] text-center bg-sky-600 text-sm text-white font-semibold py-2 px-6 rounded-full shadow-md hover:bg-sky-500 transition"
             onclick="openTab('myplan');">Eigenen Plan erstellen</a>
        </p>
      </div>
      <div>
        <h2 id="scenarioTitle" class="text-base text-slate-800 font-bold mb-2">{{ scenarios.0.title }}</h2>
        <p id="scenarioDescription" class="text-sm text-slate-500">{{ scenarios.0.description }}</p>
      </div>
    </div>
  </div>
</section>
<div id="scenario_results">
  {% include 'partials/results.html' with potentials=potentials_status_quo resultbox_id="resultbox_scenarios" %}
</div>
