<section>
  <div class="grid grid-cols-2 gap-6 pb-4">
    <div class="flex flex-col items-center p-4 bg-white shadow rounded-lg overflow-auto h-[28rem] 2xl:max-h-full 2xl:h-[34rem]">
      <div class="flex justify-end w-full">
        {% include "partials/chart_info.html" %}
      </div>
      <div id="statusquo-chart" class="index-chart"></div>
    </div>
    <div>
      <h2 class="text-base font-bold text-slate-800">
        Willkommen beim Energieplaner der Region Peenetal-Loitz! Die Seite befindet sich noch im Aufbau.
      </h2>
      <p class="mt-4 text-base text-slate-500">
        Hier erhalten Sie zunächst einen Überblick über die aktuelle Situation vor Ort.
      </p>
      <p class="mt-2 text-base text-slate-500">
        Wir haben die Energieerzeugung dem Energiebedarf (jeweils unterteilt nach Erzeugungstechnologie und Verbrauchssektor aufsummiert für ein Jahr) gegenübergestellt. Im unteren Bereich sehen Sie den daraus resultierenden Flächenbedarf, den CO2-Ausstoß sowie weitere wichtige Kennzahlen.
      </p>
      <div class="flex flex-col items-center mt-6 space-y-2">
        <a href="#"
           class="block w-[24rem] text-center bg-sky-600 text-sm text-white font-semibold py-1 px-6 rounded-full shadow-md hover:bg-sky-500 transition"
           onclick="openTab('scenarios');">Szenarien 2045 sehen</a>
        <a href="{% url 'reenact:map' %}"
           class="block w-[24rem] text-center bg-slate-200 text-slate-700 text-sm font-semibold py-1 px-6 rounded-full hover:bg-slate-300 transition">
          Karte sehen
        </a>
      </div>
    </div>
  </div>
</section>
{% include 'partials/results.html' with potentials=potentials_status_quo resultbox_id="resultbox_status_quo" %}
