{% load l10n %}

<section class="h-[50vh]">
  <div class="grid grid-cols-2 gap-4">
    <div class="p-4">
      <div id="mainChart" class="index-chart"></div>
    </div>
    <div class="p-4">
      <form id="capacityForm" onchange="create_main_chart()">
        {{ capacities.as_div }}
      </form>
    </div>
  </div>
</section>
<section class="grid grid-cols-2 gap-4 h-[40vh]">
  <div>
    <p>
      GENUTZTE ENERGIEERZEUGUNGSFLÄCHEN <span class="info-icon" data-tooltip="Hier steht Info">i</span>
    </p>
    <div class="p-4 flex lex-wrap gap-4">
      {% for potential in potentials %}
        <c-potentials title="{{ potential.title }}" percentage="{{ potential.percentage }}" value="{{ potential.value }}" unit="{{ potential.unit }}" stroke_dashoffset="{{ potential.stroke_dashoffset }}" color="{{ potential.color }}">
        </c-potentials>
      {% endfor %}
    </div>
  </div>
  <div class="p-4 flex flex-nowrap gap-4">
    {% for result in results %}
      <c-result_component_box title="{{ result.title }}" value1="{{ result.value1 }}" unit1="{{ result.unit1 }}" subtitle1="{{ result.subtitle1 }}" info_hover1="{{ result.info_hover1 }}" value2="{{ result.value2 }}" unit2="{{ result.unit2 }}" subtitle2="{{ result.subtitle2 }}" info_hover2="{{ result.info_hover2 }}" slider="{{ result.slider|unlocalize }}" />
    {% endfor %}
  </div>
</section>
