{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload"
          as="image"
          href="/logo-reenact_cmyk300-farbe-1024x426.jpg" />
    <meta name="description" content="Regionale Energiewende aktiv gestalten" />
    <meta name="next-size-adjust" />
    <meta name="author" content="Reiner Lemoine Institut" />
    <title>
      {% block title %}
        ReEnAct
      {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block sources %}
    {% endblock sources %}
    {% block css %}
      <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}__className_32aa65 text-slate-800 overflow-auto{% endblock bodyclass %}">
    <div class="flex flex-col h-full min-h-screen">
      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block navigation %}
        {% include "navigation.html" %}
      {% endblock navigation %}
      {% block main %}
        {% block content %}
        {% endblock content %}
      {% endblock main %}
      {% block footer %}
        {% include "footer.html" %}
      {% endblock footer %}
    </div>
  </body>
</html>
