{% load static i18n %}

<nav class="bg-white shadow text-slate-800 z-50" data-headlessui-state="">
  <div class="px-8 py-3">
    <div class="relative flex items-center justify-between">
      <div class="flex flex-shrink-0 gap-12">
        <a href="{% url 'reenact:index' %}">
          <img id="hdr-img"
               class="h-[33px] w-[79px]"
               src="{% static 'images/logo-reenact.jpg' %}"
               alt="ReEnAct homepage" />
        </a>
        <h1 class="hidden md:block text-center text-2xl text-uppercase font-normal tracking-wide">ENERGIEREGION PEENETAL</h1>
      </div>
      <div class="flex">
        <div class="nav-tab">
          <ul class="inline-flex space-x-4 lg:space-x-8 text-slate-800">
            <li>
              <a href="{% url 'reenact:index' %}">Startseite</a>
            </li>
            <li>
              <a href="#">Infos</a>
              <ul class="bg-white shadow-md rounded py-4 px-4">
                <li class="px-4 pb-2">
                  <a href="{% url 'reenact:challenges' %}">Chancen und Herausforderungen</a>
                </li>
                <li class="px-4 pb-2">
                  <a href="{% url 'reenact:faq' %}">Häufige Fragen</a>
                </li>
                <li class="px-4 pb-2">
                  <a href="{% url 'reenact:glossary' %}">Glossar</a>
                </li>
                <li class="px-4 pb-2">
                  <a href="{% url 'reenact:sources' %}">Quellen</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{% url 'reenact:map' %}">Karte</a>
            </li>
            <li>
              <a href="#">Rechtliches</a>
              <ul class="bg-white shadow-md rounded py-4 px-4 z-50">
                <li class="px-4 pb-2">
                  <a href="{% url 'reenact:impressum' %}">Impressum</a>
                </li>
                <li class="px-4 pb-2">
                  <a href="{% url 'reenact:dsgvo' %}">Datenschutzerklärunng</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
