.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.nav-tab ul {
  list-style: none;
  padding-left: 0;
  z-index: 1000;
}

.nav-tab ul li {
  display: inline-block;
  text-align: left;
}

.nav-tab a {
  display: block;
  text-decoration: none;
}

.nav-tab ul ul {
  display: none;
  position: absolute;
  padding: 8px 0 8px 0;
}
.nav-tab ul ul li {
  display: list-item;
  position: relative;
}

.nav-tab ul li:focus > ul,
.nav-tab ul li:active > ul {
  display: inherit;
}

.nav-tab a:focus + ul,
.nav-tab a:active + ul {
  display: inherit;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  display: block;
}

/* stupid linter does not allow inline CSS, enjoy confusing styles all over the place */
#hdr-img {
  width: 10em;
}
#mapframe {
  height: 90vh;
}
