.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  display: block;
}

.justify {
  text-align: justify;
}

.btn {
  cursor: pointer;
  background: lightblue;
  padding-inline: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 5px;
}

.flex {
  display: flex;
}

.tmp2 {
  width: 70%;
}

.tmp5 {
  width: 25%;
}

/* Sliders */
#capacityForm {
  font-size: 14px;
  color: #1E293B;
}

#capacityForm > div {
  padding-bottom: 1rem;
}

#capacityForm .irs-min,
#capacityForm .irs-max,
#capacityForm .irs-single {
  font-size: 13px;
}

#capacityForm .irs-min,
#capacityForm .irs-max {
  background-color: #f1f5f9;
  color: #475569;
}

#capacityForm .irs--round .irs-from,
#capacityForm .irs--round .irs-bar {
  background-color: #0EA5E9;
}

#capacityForm .irs--round .irs-single {
  background-color: #0370A1;
  font-weight: 700;
}

#capacityForm .irs--round .irs-single:before {
  border-top-color: #0370A1;
}

#capacityForm .irs--round .irs-handle {
  border-color: #0370A1;
}