.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  display: block;
}

.justify {
  text-align: justify;
}

.btn {
  cursor: pointer;
  background: lightblue;
  padding-inline: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 5px;
}

.flex {
  display: flex;
}

.tmp2 {
  width: 70%;
}

.tmp5 {
  width: 25%;
}

/* Sliders */
#capacityForm {
  font-size: 14px;
  color: #1E293B;
}

#capacityForm > div {
  padding-bottom: 1rem;
}

#capacityForm .irs-min,
#capacityForm .irs-max,
#capacityForm .irs-single {
  font-size: 13px;
}

#capacityForm .irs-min,
#capacityForm .irs-max {
  background-color: #f1f5f9;
  color: #475569;
}

#capacityForm .irs--round .irs-from,
#capacityForm .irs--round .irs-bar {
  background-color: #0EA5E9;
}

#capacityForm .irs--round .irs-single {
  background-color: #0370A1;
  font-weight: 700;
}

#capacityForm .irs--round .irs-single:before {
  border-top-color: #0370A1;
}

#capacityForm .irs--round .irs-handle {
  border-color: #0370A1;
}

/* Override the default styles */
#capacityForm {
  padding-left: 1rem;
  padding-right: 5rem;
}

#capacityForm .irs.irs--round {
  height: 24px;
}

#capacityForm .irs.irs--round .irs-line {
  top: 0;
}

#capacityForm .irs.irs--round .irs-min {
  display: none;
}

#capacityForm .irs.irs--round .irs-max {
  top: -7px;
  right: -3.5rem;
}

#capacityForm .irs.irs--round .irs-bar {
  top: 0;
}

#capacityForm .irs.irs--round .irs-handle {
  top: -10px;
  height: 1px;
  width: 1px;
  border: 0;
}

#capacityForm .irs.irs--round .irs-single {
  top: -8px;
  font-size: 14px;
  padding: 4px 6px;
  z-index: 9;
  min-width: 32px;
  text-align: center;
}

#capacityForm .irs.irs--round .irs-single::before {
  display: none;
}

.irs {
  width: 100% !important;
}

.irs.irs--round {
  transform: translateY(50%);
}

.showcase__mark_production {
  position: relative;
  top: -8px;
}

.showcase__mark_demand {
  position: relative;
  top: -6px;
}

.showcase__mark_distance {
  position: relative;
  top: -8px;
}

.showcase__mark_production:before {
  content: '';
  display: inline-block;
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  width: 4px;
  height: 0.75rem;
  margin: 0 auto;
}

.showcase__mark_demand:before {
  content: '';
  display: inline-block;
  background-color: #276CDE;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: center;
}

.showcase__mark_distance:before {
  content: '';
  display: inline-block;
  background-color: #a1a1aa;
  position: absolute;
  left: 0;
  right: 0;
  width: 4px;
  height: 0.75rem;
  margin: 0 auto;
}

#production-slider-icon {
  display: inline-block;
  background-color: #000;
  width: 4px;
  height: 0.75rem;
}

#demand-slider-icon {
  display: inline-block;
  background-color: #276CDE;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
  transform-origin: center;
}
