#scenarioTabs button {
    background-color: #fff;
    color: #64748B;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    text-align: center
}

#scenarioTabs button:hover {
    background-color: #e8ebee;
}

#scenarioTabs button.selected {
    background-color: #334155;
    color: white;
}
