{% load static %}

{% for category, category_fields in form.categories.items %}
  <div class="flex gap-x-8">
    <div class="flex items-center justify-center bg-slate-500 w-6">
      <p class="text-white -rotate-90 whitespace-nowrap">{{ category }}</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-[8rem] gap-y-4 w-full">
      {% for field in form %}
        {% if field.name in category_fields %}
          <div class="flex flex-col items-start h-full w-full">
            <div class="flex items-center gap-x-2 -ml-4">
              <img src="{% static field.field.icon %}"
                   alt="Icon for {{ field.label }}"
                   class="h-4 w-4" />
              <label for="{{ field.id_for_label }}"
                     class="text-sm text-slate-700 font-bold whitespace-nowrap">{{ field.label }}</label>
              <span class="text-sm text-slate-500">({{ field.field.unit }})</span>
              {% if field.help_text %}
                <span class="group">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       fill="none"
                       viewBox="0 0 24 24"
                       stroke-width="1.5"
                       stroke="currentColor"
                       class="size-6 cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>
                  <span class="absolute bg-slate-800 text-white text-xs normal-case px-3 py-1 rounded shadow-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300 whitespace-nowrap z-50">
                    {{ field.help_text|safe }}
                  </span>
                </span>
              {% endif %}
            </div>
            <div class="w-full">{{ field }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
