{% extends 'base.html' %}

{% block title %}
  Hintergrund und Verständnis
{% endblock title %}
{% block content %}
  <div class="flex justify-center">
    <div class="container px-8 py-16">
      <div class="max-w-5xl">
        <h1 class="text-slate-800 font-bold text-2xl pb-8">Hintergrund und Verständnis</h1>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Jahreserzeugung</h2>
          <p class="text-slate-500">
            Die jährlich erzeugte Energiemenge (in MWh) von Windkraftanlagen und Photovoltaikanlagen ergibt sich aus der Multiplikation der Nennleistung (in MW) mit den Jahresvolllaststunden (h). Letztere sind Standort- und vor allem wetterabhängig. Aufgrund der relativ flachen Landschaft und der Nähe zum Meer eignet sich Mecklenburg-Vorpommern hervorragend für Windenergie. Photovoltaik war üblicherweise vor allem in südlicheren Regionen profitabel. Durch die drastisch gesunkene Modulpreise lohnt es sich mittlerweile aber in ganz Deutschland.
            Energie aus Biogasanlagen und Blockheizkraftwerken ist nicht wetterabhängig sondern kann nach Bedarf erzeugt werden. Damit kann sie Zeiten überbrücken, in denen weder der Wind weht noch die Sonne scheint. Die verwendete Biomasse setzt sich zusammen aus Abfällen, ... ... ...
          </p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Jahresverbrauch</h2>
          <p class="text-slate-500">
            In der Region wird Energie fast ausschließlich durch Haushalte verbraucht (statt beispielsweise industriellen Großverbrauchern). Er setzt sich zusammen aus Strom, sowie der Energie [den Energieträgern], die für das Heizen und die Mobilität [den Verkehr] benötigt wird.
            Im Jahr 2024 werden in der Region noch viele fossile Energieträger verwendet. Fahrzeuge werden überwiegend mit Benzin oder Diesel betrieben. Geheizt wird mit Gas, Öl aber auch mit Holz. Man spricht von einem geringen Grad an Elektrifizierung. Das bringt einige Nachteile mit sich, unter anderem beträchtliche Umwandlungsverluste zwischen Primär- und Endenergie. Im Fall von Fahrzeugen mit einem Ottomotor beispielsweise, wird nur ein Bruchteil der im Benzin enthaltenen (chemischen) Energie in Bewegungsenergie umgewandelt. Der zweite große Nachteil sind hohe Emissionen, welche durch das Verbrennen von Treibstoffen und anderen fossilen Energieträgern anfallen.
            Im Jahr 2045 liegt ein hoher Grad an Elektrifizierung vor. Es handelt sich bei Strom um einen Energieträger sehr hoher Qualität, das bedeutet er lässt sich mit geringen Verlusten in andere Energieformen (in diesem Fall Wärme und Bewegungsenergie) umwandeln. Dadurch sinkt der Jahresverbrauch, selbst wenn noch keine Minderung des eigentlichen Bedarfs, beispielweise durch bessere Wärmedämmung oder weniger Fahrleistung, in Betracht gezogen wird. [ Mobi Elektrifizierung ] [ Wärmepumpen]
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
