{% extends 'base.html' %}

{% block title %}
  Hintergrund und Verständnis
{% endblock title %}
{% block content %}
  <div class="flex justify-center">
    <div class="container px-8 py-16">
      <div class="max-w-5xl">
        <h1 class="text-slate-800 font-bold text-2xl pb-8">Energieplaner</h1>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Hintergrund</h2>
          <p class="text-slate-500">
            Deutschland hat das Ziel bis zum Jahr 2045 treibhausgasneutral zu werden. Um dieses Ziel zu erreichen, muss unter anderem das Energiesystem transformiert werden – von einem Energiesystem mit zentralen Anlagen und fossiler Energieerzeugung hin zu einem Energiesystem mit dezentralen Anlagen, welche Wärme und Strom auf Basis Erneuerbarer Energien bereitstellen. Wie die Energiewende in der Region Peenetal-Loitz aussehen könnte, zeigt dieser Energieplaner.
          </p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Jahreserzeugung</h2>
          <p class="text-slate-500">
            Die jährlich erzeugte Energiemenge (in MWh) von Windkraftanlagen und Photovoltaikanlagen ergibt sich aus der Multiplikation der Nennleistung (in MW) mit den Jahresvolllaststunden (h). Letztere sind Standort- und vor allem wetterabhängig.
          </p>
          <p class="text-slate-500">
            Aufgrund der relativ flachen Landschaft und der Nähe zum Meer eignet sich Mecklenburg-Vorpommern hervorragend für Windenergie. Photovoltaik war üblicherweise vor allem in südlicheren Regionen profitabel. Durch die drastisch gesunkene Modulpreise lohnt es sich mittlerweile aber in ganz Deutschland. Auch in Peenetal/Loitz gibt es Windkraft- und Photovoltaikanlagen.
          </p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Jahresverbrauch</h2>
          <p class="text-slate-500">
            In der Region wird Energie fast ausschließlich durch Haushalte verbraucht (statt beispielsweise Gewerbe oder industrielle Großverbrauchern). Zur Deckung des Energiebedarfs wird Strom benötigt, sowie Wärme und chemisch gebundene Energie (bspw. Erdgas oder Benzin ) für das Heizen oder die Mobilität.
          </p>
          <p class="text-slate-500">
            Im Jahr 2024 werden in der Region noch viele fossile Energieträger verwendet. Fahrzeuge werden überwiegend mit Benzin oder Diesel betrieben. Geheizt wird mit Gas, Öl aber auch mit Holz. Der Anteil an Wärmepumpen oder Elektroautos und damit der Elektrifizierungsgrad ist gering. Das bringt einige Nachteile mit sich, wie Umwandlungsverluste zwischen Primär- und Endenergie. Im Fall von Fahrzeugen mit einem Ottomotor beispielsweise, wird nur ein Bruchteil der im Benzin enthaltenen (chemischen) Energie in Bewegungsenergie umgewandelt. Darüber hinaus sind fossile Energieträger mit Treibhausgas-Emissionen verbunden, welche durch das Verbrennen von Treibstoffen und anderen fossilen Energieträgern entstehen.
          </p>
          <p class="text-slate-500">
            Für das Jahr 2045 wird im Energieplaner ein hoher Grad an Elektrifizierung und damit ein hoher Anteil an Wärmepumpen und Elektroautos angenommen. Dadurch sinkt der Jahresendenergiebedarf.
          </p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Erzeugungsziel</h2>
          <p class="text-slate-500">
            Deutschland kann seine Klimaziele nur erreichen, wenn der Energiebedarf durch Erneuerbare-Energie-Anlagen gedeckt wird. Daraus wurde für die Region Peenetal/Loitz ein Erzeugungsziel abgeleitet, welches auf dem Anteil der Region an der Fläche Deutschlands basiert. Indem die Region ihr Erzeugungsziel erreicht, leistet sie ihren Beitrag zu den Klimazielen.
          </p>
          <p class="text-slate-500">
            Dieser Ansatz berücksichtigt, dass alle Regionen zur Energiewende beitragen müssen. Auch ländliche Gebiete, in denen es wenig Industrie gibt, werden nicht nur ihren eigenen Verbrauch decken, sondern für den Ausgleich und die Versorgung anderer Regionen wichtig sein. Denn dort steht ein Großteil der Flächen zur Verfügung, welche für Erneuerbare-Energien-Anlagen benötigt werden.
          </p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Treibhausgas-Emissionen und -Kosten</h2>
          <p class="text-slate-500">
            Im Energieplaner, werden die CO₂-Emissionen je nach betrachtetem Jahr (2024 oder 2045) unterschiedlich betrachtet:
          </p>
          <p class="text-slate-500">
            Für das Jahr 2024 werden die Treibhausgas-Emissionen dargestellt, welche insgesamt durch den Energiebedarf der Region in den Sektoren Strom, Wärme und Mobilität sowie durch die Moore entstehen.
          </p>
          <p class="text-slate-500">
            Der für das Jahr 2045 gewählte Ansatz zielt darauf ab, die Ausnutzung der klimabezogenen Handlungsspielräume der Region zu bewerten. Er misst also nicht, ob die Region im Jahr 2045 vollständig treibhausgasneutral ist, sondern inwiefern dort zur Energiewende und zum Moorschutz in Verantwortung für die gesamtdeutschen Klimaziele beigetragen wird. Dafür werden zwei große Hebel betrachtet, mit welchen die Region ihre Treibhausgase reduzieren kann. Diese liegen
          </p>
          <p class="text-slate-500 pl-4">1) in der Erreichung ihres Erzeugungsziels (vgl. Abschnitt “Erzeugungsziel”)</p>
          <p class="text-slate-500 pl-4">
            2) in der vollständigen Wiedervernässung der trockengelegten Moorflächen (vgl. Abschnitt “Moore”)
          </p>
          <p class="text-slate-500">
            Im Energieplaner werden für das Jahr 2045 die vermeidbaren Emissionen dargestellt, welche durch Erreichung des Erzeugungsziels und einer vollständigen Moorwiedervernässung auf Null reduziert werden können. Sie werden in Tonnen CO₂-Äquivalenten (CO₂e) gemessen.
          </p>
        </div>
        <div class="py-4">
          <h2 class="text-slate-800 font-bold pb-2">Kosten und Erlöse</h2>
          <p class="text-slate-500">
            Im Energieplaner werden die CO₂-Kosten, der mittlere Strompreis, der Investitionsbedarf sowie die Erlöse für Strom- und H2-Export dargestellt. Nachfolgend werden diese kurz erklärt.
          </p>
          <ul class="list-disc list-inside text-slate-500 pb-1">
            <li>
              CO₂-Kosten: CO₂-Kosten sind finanzielle Belastungen für den Ausstoß von CO₂. Sie sind abhängig vom CO₂-Preis und den Treibhausgas-Emissionen.
            </li>
            <li>
              Mittlerer Strompreis: Der Mittlere Strompreis ist der durchschnittliche Preis, den eine kWh Strom kostet. Im Energieplaner sind dabei nur die Beschaffungskosten und Netzentgelte berücksichtigt. Steuern und Umlagen wurden nicht berücksichtigt. Wie günstig ein Haushalt Strom einkaufen kann, ist darüber hinaus auch vom Geschäftsmodell zum Betrieb der Erzeugungsanlagen und Speicher abhängig.
            </li>
            <li>
              Investitionsbedarf: Der Investitionsbedarf ergibt sich aus allen Kosten, welche für den Bau, den Betrieb sowie die Finanzierung von Erzeugungsanlagen und Speichern insgesamt entstehen. Die im Energieplaner dargestellten Investitionskosten sind annualisiert.
            </li>
            <li>
              Erlöse für Strom-Export: Durch den Export von Strom, welcher nicht zur Deckung des Energiebedarfs in der Region benötigt wird, können Einnahmen generiert werden. Diese potentiellen Erlöse werden im Energieplaner berechnet und sind u.a. abhängig von der Menge des überschüssigen Stroms und dem Strombeschaffungspreis.
            </li>
            <li>
              Erlöse für H2-Export: Durch den Export von Wasserstoff, welcher nicht zur Deckung des Energiebedarfs in der Region benötigt wird, können Einnahmen generiert werden. Diese potentiellen Erlöse werden im Energieplaner berechnet und sind abhängig von der Menge an erzeugtem Wasserstoff und dem Wasserstoffpreis.
            </li>
          </ul>
        </div>
        <h1 class="text-slate-800 font-bold text-2xl pb-8">Technologien</h1>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Vergleich von Technologien</h2>
          <p class="text-slate-500">
            In Peenetal/Loitz gibt es Potentiale für Windkraft und Photovoltaik sowie Biomasse zur Nutzung in bspw. Blockheizraftwerken (BHKWs). Die verschiedenen Technologien sind dabei durch unterschiedliche Eigenschaften und damit auch unterschiedliche Vor- und Nachteile charakterisiert. Der nachfolgende Text sowie die Tabelle geben einen entsprechenden Überblick.
          </p>
          <p class="text-slate-500">
            Windenergieanlagen brauchen Abstand voneinander um effektiv Strom produzieren zu können. Der tatsächliche Flächenverbrauch ist aber gering: Er beschränkt sich auf das Fundament. Die Flächen zwischen den Anlagen bleiben in der Regel landwirtschaftlich nutzbar.
          </p>
          <p class="text-slate-500">
            Photovoltaik-Anlagen auf Freiflächen belegen Flächen dauerhaft. Diese Flächen stehen dann meist nicht mehr für andere Nutzungen zur Verfügung. Um Flächenkonkurrenzen zu verringern, können Photovoltaik-Module jedoch auch auf Dächern installiert werden, dort entsteht kein zusätzlicher Flächenverbrauch. Bei sogenannten Agri-PV-Anlagen werden die Solarmodule in größerem Abstand und in erhöhter Bauweise über landwirtschaftlich genutzten Flächen installiert. Dadurch bleibt der Acker darunter weiter nutzbar. Durch Moor-PV können wiedervernässte Moore wirtschaftlich nutzbar gemacht werden. Für klassische Landwirtschaft sind diese nicht mehr geeignet. Moor-PV steht dabei jedoch in Konkurrenz zur Nutzung als Biomassefläche (für Paludikultur oder Nasswiese).
          </p>
          <p class="text-slate-500">
            Biomasseanlagen, insbesondere Blockheizkraftwerke (BHKW), benötigen selbst nur wenig Technikfläche. Wird mit Reststoffen gearbeitet, fällt kein zusätzlicher Flächenbedarf an. Wenn jedoch Energiepflanzen wie Silomais speziell für die Strom- oder Wärmeerzeugung angebaut werden, ist der Flächenbedarf erheblich. Für den kontinuierlichen Betrieb größerer Anlagen müssen große Ackerflächen bereitgestellt werden . Dies führt zu einer Flächenkonkurrenz mit Nahrungsmittelproduktion und ökologischer Nutzung.
          </p>
          <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200 mt-4">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Technologie
                  </th>
                  <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Investitionskosten [€/kW]
                  </th>
                  <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Betriebskosten [%/a]
                  </th>
                  <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Flächenbedarf
                  </th>
                  <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Verfügbarkeit
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-500">Windkraft (onshore)</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1.300 - 1.800</td>
                  <td class="px-6 py-4 text-sm text-gray-500">2 - 4</td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Braucht Platz zwischen den Anlagen, aber dazwischen kann z. B. Landwirtschaft bleiben
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">Wetterabhängig, Tag und Nacht</td>
                </tr>
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-500">Freiflächen-PV</td>
                  <td class="px-6 py-4 text-sm text-gray-500">700 - 1.000</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1 - 2</td>
                  <td class="px-6 py-4 text-sm text-gray-500">Belegt große Flächen dauerhaft, z. B. Acker oder Wiese</td>
                  <td class="px-6 py-4 text-sm text-gray-500">Wetterabhängig, Tag</td>
                </tr>
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-500">Dach-PV</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1.000 - 1.500</td>
                  <td class="px-6 py-4 text-sm text-gray-500">0,5 - 1,5</td>
                  <td class="px-6 py-4 text-sm text-gray-500">Nutzen Dächer, also keine zusätzliche Fläche nötig</td>
                  <td class="px-6 py-4 text-sm text-gray-500">Wetterabhängig, Tag</td>
                </tr>
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-500">Agri-PV</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1.200 - 1.800</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1 - 2</td>
                  <td class="px-6 py-4 text-sm text-gray-500">Über Feldern montiert – Acker bleibt nutzbar</td>
                  <td class="px-6 py-4 text-sm text-gray-500">Wetterabhängig, Tag</td>
                </tr>
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-500">Moor-PV</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1.000 - 1.300</td>
                  <td class="px-6 py-4 text-sm text-gray-500">1 - 2</td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Nutzt wiedervernässte Moore, steht dort in Konkurrenz zur alternativen Nutzung (z. B. Paludikultur)
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">Wetterabhängig, Tag</td>
                </tr>
                <tr>
                  <td class="px-6 py-4 text-sm text-gray-500">Biomasse (BHKW)</td>
                  <td class="px-6 py-4 text-sm text-gray-500">4.000 - 6.000</td>
                  <td class="px-6 py-4 text-sm text-gray-500">4 - 6</td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Das Kraftwerk selbst braucht kaum Platz. Werden jedoch Energiepflanzen wie Mais extra angebaut, ist der Flächenbedarf sehr hoch
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">Nach Bedarf, steuerbar</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Technologie-Mix</h2>
          <p class="text-slate-500">
            Der Einsatz von Windkraftanlagen und Photovoltaikanlagen geht mit geringen Stromgestehungskosten einher, jedoch auch mit einer wetterabhängigen Strombereitstellung. Für günstigen Strom und eine zuverlässige Stromversorgung, benötigt es daher einen Mix aus verschiedenen Technologien, welche einander ergänzen. Damit verringern sich die Zeiten, in denen weder durch Windkraft noch durch Photovoltaik Strom bereitgestellt werden kann (“Dunkelflaute”). Für die verbleibenden Zeiträume, in denen dies doch der Fall ist, können beispielsweise Batteriespeicher und Biogasanlagen Abhilfe schaffen.
          </p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Batteriespeicher</h2>
          <p class="text-slate-500">
            Die Stromerzeugung aus erneuerbaren Energien (vor allem Wind und Sonne) unterliegt starken Schwankungen. Phasen mit Überproduktion (zu viel Strom im Netz) wechseln sich mit Phasen der Unterproduktion ab, in denen die Erzeugung nicht ausreicht, um den Bedarf zu decken. Batteriespeicher können zu einer stabilen Energieversorgung beitragen. Sie speichern kurzfristig (Stunden bis Tage) überschüssigen Strom aus Wind und Sonne und stellen ihn in Zeiten ohne Erzeugung wieder zur Verfügung. Damit können sie die Abregelung von Erneuerbare-Energien-Anlagen reduzieren, das Stromnetz entlasten und die Abhängigkeit von fossilen Kraftwerken und Stromimporten reduzieren. Durch Installation von Batteriespeichern in der Region, könnte sie einen größeren Anteil ihres Stroms vor Ort nutzen. Durch Arbitrage können weitere Erlöse für die Region erwirtschaftet werden.
          </p>
        </div>
        <div class="py-4">
          <h2 class="text-slate-800 font-bold pb-2">Wasserstoff</h2>
          <p class="text-slate-500">
            Wasserstoff speichert Energie in chemischer Form, die bei Bedarf freigesetzt werden kann. Wenn Wasserstoff mit Sauerstoff reagiert, entstehen dabei Strom und Wärme. Bei Erzeugung durch Elektrolyse mit Wind- oder Solarstrom spricht man von grünem Wasserstoff.
          </p>
          <p class="text-slate-500">
            Um Wasserstoff herzustellen, braucht es Strom – und wenn dieser Wasserstoff dann nur wieder in Wärme umgewandelt wird, geht dabei durch die Umwandlungsschritte viel Energie verloren. Wesentlich effizienter ist es, Strom direkt für Wärmepumpen zu nutzen, bei denen mit einer Kilowattstunde Strom mehrere Kilowattstunden Wärme erzeugt werden können. Wasserstoff ergänzt Stromnutzung dort, wo direkte Elektrifizierung an Grenzen stößt und kann fossile Energieträger ersetzen.
          </p>
          <p class="text-slate-500">
            So ist ein Einsatz von Wasserstoff im Gebäudebereich  nur in Ausnahmefällen sinnvoll – zum Beispiel dort, wo keine andere Technik einsetzbar ist oder in der Übergangszeit bei hybriden Heizsystemen. In der Industrie sieht es jedoch anders aus: Hier werden oft sehr hohe Temperaturen benötigt, die sich mit Strom oder Wärmepumpen nur schwer oder gar nicht erzeugen lassen. In solchen Fällen kann Wasserstoff – oder daraus gewonnene Gase wie Ammoniak oder Methan – ein wichtiger Ersatz für fossile Brennstoffe sein.
          </p>
          <p class="text-slate-500">
            Auch in Fahrzeugen ist die Nutzung von Wasserstoff mit höheren Umwandlungsverlusten verbunden als ein batterieelektrischer Antrieb. Das liegt daran, dass Strom zunächst zur Herstellung von Wasserstoff genutzt und später in der Brennstoffzelle wieder in Strom umgewandelt wird. Im Vergleich zum direkten Einsatz von Strom in Batterien ist das weniger effizient. Bei langen Reichweiten, kurzen Tankzeiten oder im Schwerlastverkehr kann Wasserstoff aber sinnvoll sein.
          </p>
          <p class="text-slate-500">
            Für eine flächendeckende Nutzung von Wasserstoff fehlt bislang die nötige Infrastruktur. Erzeugung, Speicherung, Transport und Betankung sind mit hohen Investitionskosten verbunden. Der Ausbau erfolgt schrittweise und konzentriert sich auf Industrie und Regionen mit hoher Nachfrage. Tankstellen für den Verkehrsbereich sind selten, da es kaum Fahrzeuge gibt.
          </p>
          <p class="text-slate-500">
            Wasserstoff kann gasförmig unter hohem Druck oder flüssig bei sehr tiefen Temperaturen gespeichert werden. Bei guter technischer Ausführung verflüchtigt sich der Wasserstoff kaum, allerdings können über längere Zeit geringe Verluste auftreten. Bei einem Leck verflüchtigt sich Wasserstoff sehr schnell. Zwar ist Wasserstoff brennbar, doch durch seine schnelle Verdünnung in der Atmosphäre ist das Risiko einer Explosion im Freien äußerst gering.
          </p>
        </div>
        <h1 class="text-slate-800 font-bold text-2xl pb-8">Moore</h1>
        <p class="text-slate-500">
          Mecklenburg-Vorpommern ist mit einem Mooranteil von ca. 12 % der Landesfläche ein moorreiches Bundesland. Ein Großteil der Moore wird seit Jahrzehnten entwässert und land- oder forstwirtschaftlich genutzt. Eine tiefe Entwässerung ist vor allem für den Anbau von Nutzpflanzen und für die Befahrbarkeit mit schwerer Landwirtschaftstechnik notwendig.
        </p>
        <p class="text-slate-500">
          Durch die Entwässerung kommt der Torf in Kontakt mit Sauerstoff und wird zersetzt. Dabei wird Kohlenstoffdioxid (CO2) freigesetzt. Je tiefer das Moor entwässert wird, desto höher sind die CO2-Emissionen. In Mecklenburg-Vorpommern sind Moore durch die großflächige Entwässerung mit ca. 30 % der größte Verursacher von CO2-Emissionen, noch vor den Sektoren Energie und Verkehr.
        </p>
        <p class="text-slate-500">
          Für die Erreichung der nationalen Klimaschutzziele, müssen die CO2-Emissionen aller Moore bis zum Jahr 2045 möglichst vollständig gesenkt werden. Dafür ist eine Wiedervernässung der Moore notwendig, denn nasse Moore speichern Kohlenstoff. Durch den hohen Wasserstand wird die Zersetzung von Pflanzen verhindert und das organische Material im Torf konserviert.
        </p>
        <p class="text-slate-500">
          Um auch wiedervernässte Moore wirtschaftlich zu nutzen, können verschiedene Möglichkeiten in Betracht gezogen werden. So kann auf nassen Mooren die Biomasse geerntet und weiterverarbeitet und als Ersatz für fossile Bau- oder Dämmstoffe (z. B. Styropor, Mineralwolle) verwendet werden. Die bei der Weiterverarbeitung anfallenden biogenen Reststoffe können für die Energieerzeugung genutzt werden. Bei hohen Wasserständen kann auch Moor-PV torferhaltend einen Beitrag zur Stromerzeugung leisten. Durch die Nutzung wiedervernässter Moorflächen zur PV-Stromerzeugung kann eine neue Einnahmequelle für Landwirte u.a. Flächeneigentümer geschaffen werden, deren entwässerungsbasierte Nutzungsmöglichkeiten durch die Vernässung nicht mehr möglich sind.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
