{% extends "base.html" %}

{% block main %}
  <nav class="flex items-center justify-center px-6 py-2 border border-b-slate-200">
    <div class="flex relative w-full max-w-7xl px-2 sm:px-6 lg:px-8">
      <span class="text-sky-800 font-semibold"><a href="/">Startseite</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
      </svg>
      <span>Herausforderungen und Chancen</span>
    </div>
  </nav>
  <main class="grow">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-3xl px-6 pt-12 pb-32">
        <div class="flex flex-col flex-wrap justify-center content-center align-center">
          <p class="max-w-xl mb-8">
            Die Energiewende bringt Herausforderungen mit sich. Veränderungen in der Infrastruktur, wirtschaftliche Auswirkungen und Anpassungen im Lebensstil können Unsicherheiten auslösen. Eine nachhaltige und gerechte Lösung stellt sicher, dass der Übergang zu sauberer Energie der gesamten Gemeinschaft zugutekommt.
          </p>
          <p class="max-w-xl mb-8 p-8 bg-slate-100 font-semibold">
            Hauptziel ist es, bis 2040 eine CO2-Emission von 0% zu erreichen. Gemeinsam können wir unsere Region zu einem Vorreiter der Energiezukunft machen und damit auch einen wichtigen Beitrag zu den nationalen Energiezielen leisten.
          </p>
          <p class="max-w-xl mb-8">
            Es gibt mehrere Wege, das Hauptziel zu erreichen. Diese Wege werden durch verschiedene Zukunftsszenarien dargestellt. Mithilfe einiger Fragen können Sie das beste Zukunftsszenario und damit die optimale Lösung für die Region finden.
          </p>
        </div>
      </div>
    </div>
  </main>
  <nav class="fixed bottom-[37px] left-0 w-full bg-white py-2 px-6 border-t border-slate-200">
    <div class="flex justify-center">
      <div class="flex">
        <div class="pe-2 invisible">
          <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-transparent px-2.5 py-1.5 text-base text-center font-semibold text-sky-800 shadow-sm hover:bg-sky-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
             href="#"><span class="flex justify-center items-center"></span></a>
        </div>
        <div class="pe-2">
          <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-sky-800 px-2.5 py-1.5 text-base text-center font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
             href="/questionsDefault/regionToday"><span class="flex justify-center items-center"><span class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 aria-hidden="true"
                 data-slot="icon"
                 class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </span>Region heute</span></a>
        </div>
        <div class="pe-2"></div>
      </div>
    </div>
  </nav>
{% endblock %}
