{% extends 'base.html' %}

{% block title %}
  Chancen und Herausforderungen
{% endblock title %}
{% block content %}
  <div class="flex justify-center">
    <div class="container px-8 py-16">
      <div class="max-w-5xl">
        <h1 class="text-slate-800 font-bold text-2xl pb-2">Chancen der Energiewende</h1>
        <div class="text-slate-500">
          <ul class="list-disc list-inside">
            <li>
              <span class="font-bold">Umwelt- und Klimaschutz:</span>
              <p>Reduktion von Treibhausgasen, Luftverschmutzung und Umweltbelastung</p>
            </li>
            <li>
              <span class="font-bold">Unabhängigkeit von Energieimporten:</span>
              <p>Weniger Abhängigkeit von fossilen Energieträgern aus dem Ausland</p>
            </li>
            <li>
              <span class="font-bold">Stabilere Energiepreise:</span>
              <p>Langfristig geringere und besser kalkulierbare Energiekosten durch Erneuerbare Energien</p>
            </li>
            <li>
              <span class="font-bold">Wirtschaftliche Impulse:</span>
              <p>Förderung von Innovationen und neue Arbeitsplätze im Bereich erneuerbare Energien</p>
            </li>
            <li>
              <span class="font-bold">Regionale Wertschöpfung:</span>
              <p>Stärkung u.a. ländlicher Regionen und Kommunen durch dezentrale Energieerzeugung</p>
            </li>
            <li>
              <span class="font-bold">Partizipation:</span>
              <p>Möglichkeit zur aktiven Mitgestaltung der Energiewende</p>
            </li>
          </ul>
        </div>
        <br />
        <h1 class="text-slate-800 font-bold text-2xl pb-2">Herausforderungen der Energiewende</h1>
        <div class="text-slate-500">
          <ul class="list-disc list-inside">
            <li>
              <span class="font-bold">Energieerzeugung:</span>
              <p>Ausbau von Erneuerbare-Energien-Anlagen und Rückbau fossiler Erzeugungsanlagen</p>
            </li>
            <li>
              <span class="font-bold">Netzausbau:</span>
              <p>Ausbau des Stromnetzes, um Netzengpässe zu vermeiden</p>
            </li>
            <li>
              <span class="font-bold">Energiespeicherung:</span>
              <p>Zubau von Energiespeichern zum Ausgleich von Energie-Angebot und –Nachfrage trotz schwankender Energieerzeugung</p>
            </li>
            <li>
              <span class="font-bold">Kosten und Finanzierung:</span>
              <p>
                Umfangreiche Investitionen in Infrastruktur und Technologie erfordern eine sorgfältige Planung und faire Verteilung der finanziellen Lasten
              </p>
            </li>
            <li>
              <span class="font-bold">Akzeptanz in der Bevölkerung:</span>
              <p>
                Die Zustimmung der Bevölkerung zu Erneuerbare-Energien- Projekten ist entscheidend und erfordert transparente Kommunikation und Beteiligung
              </p>
            </li>
            <li>
              <span class="font-bold">Rückbau fossiler Infrastruktur:</span>
              <p>Sozialverträglicher Strukturwandel in Braunkohle- und Industrieregionen</p>
            </li>
            <li>
              <span class="font-bold">Regulatorische Rahmenbedingungen:</span>
              <p>
                Klare politische Vorgaben und Zielsetzungen sowie eine Reduktion bürokratischer Hürden sind nötig, um Investitionen zu fördern und den Ausbau der erneuerbaren Energien konsequent voranzutreiben.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
