{% extends "base.html" %}

{% block main %}
  <nav class="flex items-center justify-center px-6 py-2 border border-b-slate-200">
    <div class="flex relative w-full max-w-7xl px-2 sm:px-6 lg:px-8">
      <span class="text-sky-800 font-semibold"><a href="/">Startseite</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           fill="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="text-sky-800 font-semibold"><a href="/questionsDefault/challenges">Herausforderungen und Chancen</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           fill="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="text-sky-800 font-semibold"><a href="/questionsDefault/regionToday">Region heute</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           fill="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="text-sky-800 font-semibold"><a href="/questionsDefault/scenariosOverview">Szenarienübersicht</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           fill="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd">
        </path>
      </svg>
      <span class="">Szenarienvergleich</span>
    </div>
  </nav>
  <main>
    <div class="flex flex-row justify-center pt-16 pb-16">
      <img loading="lazy"
           width="1216"
           height="308"
           decoding="async"
           data-nimg="1"
           style="color:transparent"
           src="/images/vergleich_top.svg" />
    </div>
    <div class="flex flex-row justify-center pt-16 pb-16 bg-gray-50">
      <img loading="lazy"
           width="1216"
           height="684"
           decoding="async"
           data-nimg="1"
           style="color:transparent"
           src="/images/vergleich_middle.svg" />
    </div>
    <div class="flex flex-row justify-center pt-16 pb-32">
      <img loading="lazy"
           width="1216"
           height="466"
           decoding="async"
           data-nimg="1"
           style="color:transparent"
           src="/images/vergleich_bottom.svg" />
    </div>
  </main>
{% endblock %}
