{% extends 'base.html' %}

{% block title %}
  Glossar
{% endblock title %}
{% block content %}
  <div class="flex justify-center">
    <div class="container px-8 py-16">
      <div class="max-w-5xl">
        <h1 class="text-slate-800 font-bold text-2xl pb-8">Glossar</h1>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Autarkie</h2>
          <p class="text-slate-500">Selbstversorgung, bei der eine Region oder ein Haushalt den gesamten Energiebedarf unabhängig deckt.</p>
        </div>
        <div class="py-4 border-b">
          <h2 class="text-slate-800 font-bold pb-2">Bilanzziel</h2>
          <p class="text-slate-500">Verhältnis zwischen der insgesamt produzierten Energie aus erneuerbaren Quellen und dem gesamten Energieverbrauch. Werte über 100 % bedeuten Überschüsse.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
