{% extends 'base.html' %}

{% load static %}

{% block title %}
  ReEnAct
{% endblock title %}
{% block content %}
  <div class="grid grid-cols-1 gap-4 h-screen w-full">
    <section class="h-[10vh]">
      <div>
        <nav class="py-4 text-center">
          <div class="flex justify-center space-x-8">
            <a id="tablink-statusquo"
               class="tablink tablink-active"
               href="#"
               onclick="openTab('statusquo');">2024</a>
            <a id="tablink-scenarios"
               class="tablink"
               href="#"
               onclick="openTab('scenarios'); setStartupScenario();">Szenarien 2040</a>
            <a id="tablink-myplan"
               class="tablink"
               href="#"
               onclick="openTab('myplan');">Mein Plan 2040</a>
            <a id="tablink-comparison"
               class="tablink"
               href="#"
               onclick="openTab('comparison'); reload_chart('total');">Szenarienvergleich</a>
          </div>
        </nav>
      </div>
    </section>
    <div id="tabcontent-statusquo" class="tabcontent tabcontent-active">{% include 'reenact/tabs/statusquo.html' %}</div>
    <div id="tabcontent-scenarios" class="tabcontent tabcontent-hidden">{% include 'reenact/tabs/scenarios.html' %}</div>
    <div id="tabcontent-myplan" class="tabcontent tabcontent-hidden">{% include 'reenact/tabs/myplan.html' %}</div>
    <div id="tabcontent-comparison" class="tabcontent tabcontent-hidden">
      {% include 'reenact/tabs/comparison.html' %}
    </div>
  </div>
{% endblock content %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/main_layout.css' %}" />
  <link rel="stylesheet" href="{% static 'css/charts.css' %}" />
  <link rel="stylesheet" href="{% static 'css/scenario_tabs.css' %}" />
{% endblock css %}
{% block javascript %}
  <script type="text/javascript"
          src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendors/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendors/ionrangeslider/ion.rangeSlider.min.js' %}"></script>
  <script>
    // open navigation tab
    function openTab(tabname, filter) {
      filter = filter ? '-' + filter : '';
      // move link
      let tablink_classname = 'tablink' + filter;
      let tablinks = document.getElementsByClassName(tablink_classname);
      for (let tablink of tablinks)
        tablink.classList.remove('tablink-active');
      let active_tablink = document.getElementById('tablink' + filter + '-' + tabname);
      if (active_tablink)
        active_tablink.classList.add('tablink-active');

      // hide all contents, except target by tabname
      let content_classname = 'tabcontent' + filter;
      let contents = document.getElementsByClassName(content_classname);
      for (let content of contents) {
        if (content.id === content_classname + '-' + tabname) {
          // target content: show
          content.classList.remove('tabcontent-hidden');
          content.classList.add('tabcontent-active');
        } else {
          // other content: hide
          content.classList.remove('tabcontent-active');
          content.classList.add('tabcontent-hidden');
        }
      }
    }
  </script>
{% endblock javascript %}
{% block javascript_inline %}
  {{ production_demand_chart|json_script:"productionDemandChart" }}
  <script src="{% static 'js/sliders.js' %}"></script>
  <script src="{% static 'js/charts.js' %}"></script>
  <script src="{% static 'js/scenarios.js' %}"></script>
{% endblock javascript_inline %}
