{% extends 'base.html' %}

{% load l10n %}
{% load static %}

{% block title %}
  ReEnAct
{% endblock title %}
{% block content %}
  <link href="{% static 'css/main_layout.css' %}" rel="stylesheet" />
  <div class="grid grid-cols-1 gap-4 h-screen w-full">
    <section class="h-[60vh]">
      <div>
        <nav class="py-4 text-center">
          <ul class="flex justify-center space-x-8">
            <li>
              <a href="#">2024</a>
            </li>
            <li>
              <a href="#">Szenarien 2040</a>
            </li>
            <li>
              <a href="#">Mein Plan 2040</a>
            </li>
            <li>
              <a href="#">Szenarienvergleich</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="p-4">
          <div id="mainChart"></div>
        </div>
        <div class="p-4">
          <form id="capacityForm" onchange="create_main_chart()">
            {{ capacities.as_div }}
          </form>
        </div>
      </div>
    </section>
    <section class="grid grid-cols-2 gap-4 h-[40vh]">
      <div>
        <p>
          GENUTZTE ENERGIEERZEUGUNGSFLÄCHEN <span class="info-icon" data-tooltip="Hier steht Info">i</span>
        </p>
        <div class="p-4 flex lex-wrap gap-4">
          {% for potential in potentials %}
            <c-potentials title="{{ potential.title }}" percentage="{{ potential.percentage }}" value="{{ potential.value }}" unit="{{ potential.unit }}" stroke_dashoffset="{{ potential.stroke_dashoffset }}" color="{{ potential.color }}">
            </c-potentials>
          {% endfor %}
        </div>
      </div>
      <div class="p-4 flex flex-wrap gap-4 w-1/2">
        {% for result in results %}
          <c-result_component_box title="{{ result.title }}" value1="{{ result.value1 }}" unit1="{{ result.unit1 }}" subtitle1="{{ result.subtitle1 }}" info_hover1="{{ result.info_hover1 }}" value2="{{ result.value2 }}" unit2="{{ result.unit2 }}" subtitle2="{{ result.subtitle2 }}" info_hover2="{{ result.info_hover2 }}" slider="{{ result.slider|unlocalize }}" />
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock content %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/charts.css' %}" />
{% endblock css %}
{% block javascript %}
  <script type="text/javascript"
          src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendors/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendors/ionrangeslider/ion.rangeSlider.min.js' %}"></script>
{% endblock javascript %}
{% block javascript_inline %}
  <script src="{% static 'js/sliders.js' %}"></script>
  <script src="{% static 'js/charts.js' %}"></script>
{% endblock javascript_inline %}
