<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload"
          href="/_next/static/media/a9b61b60c2d733b4-s.p.woff2"
          as="font"
          crossorigin=""
          type="font/woff2" />
    <link rel="preload"
          href="/_next/static/media/e1c529c04de64b40-s.p.woff2"
          as="font"
          crossorigin=""
          type="font/woff2" />
    <link rel="preload"
          as="image"
          href="/logo-reenact_cmyk300-farbe-1024x426.jpg" />
    <link rel="stylesheet"
          href="/_next/static/css/565ed300c75a1939.css"
          data-precedence="next" />
    <link rel="preload"
          as="script"
          fetchPriority="low"
          href="/_next/static/chunks/webpack-144a66e85141cefd.js" />
    <script src="/_next/static/chunks/fd9d1056-e544b3a751276a00.js" async=""></script><script src="/_next/static/chunks/23-293ed21d29338f34.js" async=""></script><script src="/_next/static/chunks/main-app-f73cdb3bce740b12.js" async=""></script><script src="/_next/static/chunks/231-6299cbfa5fa489aa.js" async=""></script><script src="/_next/static/chunks/173-defd924d30408fe7.js" async=""></script><script src="/_next/static/chunks/569-c03971902f077714.js" async=""></script><script src="/_next/static/chunks/app/page-95232e7232b3a874.js" async=""></script><script src="/_next/static/chunks/71-770edc5c084e8fe8.js" async=""></script><script src="/_next/static/chunks/app/layout-9794d8901f197339.js" async=""></script><title>ReEnAct Prototype</title>
    <meta name="description" content="ReEnAct Prototype" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
    <meta name="next-size-adjust" />
    <script src="/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js" noModule=""></script>
  </head>
  <body class="__className_32aa65 text-slate-800 overflow-auto">
    <div class="flex flex-col h-full min-h-screen">
      <nav class="__className_b1da2a bg-white shadow" data-headlessui-state="">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <button class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-sky-500"
                      id="headlessui-disclosure-button-:R5cq:"
                      type="button"
                      aria-expanded="false"
                      data-headlessui-state="">
                <span class="absolute -inset-0.5"></span><span class="sr-only">Open main menu</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     aria-hidden="true"
                     data-slot="icon"
                     class="block h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
              <div class="flex flex-shrink-0 items-center">
                <a href="/">
                  <img class="h-8 w-auto"
                       src="/logo-reenact_cmyk300-farbe-1024x426.jpg"
                       alt="Your Company" />
                </a>
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <a href="/"
                     class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-base font-medium text-slate-800">Startseite</a><a href="https://www.energieregion-peenetal.de/"
   target="_blank"
   rel="noopener noreferrer"
   class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-base font-medium text-slate-800">Projektinfos
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-box-arrow-up-right ml-2"
                         viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5">
                      </path>
                      <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z">
                      </path>
                    </svg>
                  </a><a href="/pages/source"
   class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-base font-medium text-slate-800">Quellen</a><a href="/pages/help"
   class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 border-indigo-500 px-1 pt-1 text-base font-medium text-slate-800">Hilfe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="grow">
        <div class="bg-sky-400 py-20 mb-28">
          <div class="mx-auto max-w-7xl px-8">
            <h1 class="text-4xl font-bold pb-8">Welches Zukunftsszenario passt zu Peenetal/Loitz?</h1>
            <p class="text-2xl max-w-[48rem] pb-4">
              Diese App hilft der Region, die Energiewende voranzutreiben und die Klimaziele Deutschlands zu erreichen.
            </p>
            <p class="text-2xl max-w-[48rem]">
              Visualisieren und vergleichen Sie vorgefertigte Szenarien oder erstellen Sie Ihr eigenes, um die nachhaltige Zukunft der Region mitzugestalten.
            </p>
          </div>
          <div class="mx-auto max-w-7xl px-8">
            <div class="w-[16rem] pt-8 pb-24">
              <a class="block rounded-full min-w-[100px] bg-slate-800 px-3 py-4 text-lg text-center font-semibold text-white shadow-sm hover:bg-slate-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-300"
                 href="/questionsDefault/challenges"><span class="flex justify-center items-center">Szenario finden</span></a>
            </div>
          </div>
          <div class="mx-auto max-w-7xl px-8">
            <div class="columns-3">
              <a class="block rounded-full min-w-[100px] bg-sky-500 px-2.5 py-1.5 text-base text-center text-slate-800 shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-300"
                 href="/questionsDefault/scenariosOverview"><span class="flex justify-center items-center">Vorgefertigtes Szenario auswählen</span></a><a class="block rounded-full min-w-[100px] bg-sky-500 px-2.5 py-1.5 text-base text-center text-slate-800 shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-300"
   href="/pages/comparison"><span class="flex justify-center items-center">Vorgefertigte Szenarien vergleichen</span></a><a class="block rounded-full min-w-[100px] bg-sky-500 px-2.5 py-1.5 text-base text-center text-slate-800 shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-300"
   href="/questionsDefault/createScenario"><span class="flex justify-center items-center">Eigenes Szenario erstellen</span></a>
            </div>
          </div>
        </div>
        <main class="grow flex flex-col h-full">
          <div class="grow flex flex-col h-full">
            <div class="grow flex columns-2 h-full w-full mx-auto max-w-7xl sm:px-6 lg:px-8 pb-32">
              <div class="flex-1 overflow-auto w-full">
                <div class="pe-12">
                  <div class="flex justify-between pb-8">
                    <h1 class="text-2xl font-semibold" id="region">Peenetal/Loitz heute</h1>
                  </div>
                  <div class="pb-8">
                    Diese Region zeichnet sich durch ihren wachsenden Einsatz erneuerbarer Energien aus und leistet einen wichtigen Beitrag zur Energiewende. Trotz der überschaubaren Größe entwickelt sich die Region dynamisch, indem sie innovative Lösungen zur nachhaltigen Energiegewinnung umsetzt. Besonders der Energiesektor bietet neue Investitionsmöglichkeiten, während die Landschaft durch Windkraft und Solaranlagen zunehmend für die Energieerzeugung genutzt wird. Die Region zeigt eindrucksvoll, wie ländliche Gebiete zur Erreichung der Klimaziele beitragen können, und bietet gleichzeitig Chancen für lokale Unternehmen und Gemeinden.
                  </div>
                  <div class="pb-8">
                    <div class="flex items-center pb-2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           fill="none"
                           viewBox="0 0 24 24"
                           stroke-width="1.5"
                           stroke="currentColor"
                           aria-hidden="true"
                           data-slot="icon"
                           class="h-8 w-8 me-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 3.75H6A2.25 2.25 0 0 0 3.75 6v1.5M16.5 3.75H18A2.25 2.25 0 0 1 20.25 6v1.5m0 9V18A2.25 2.25 0 0 1 18 20.25h-1.5m-9 0H6A2.25 2.25 0 0 1 3.75 18v-1.5M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </path>
                      </svg>
                      <span class="font-semibold">Überblick</span>
                    </div>
                    <table class="table-auto w-full">
                      <tbody>
                        <tr>
                          <td class="border px-4 py-2">Bevölkerung</td>
                          <td class="border px-4 py-2">5.998</td>
                        </tr>
                        <tr>
                          <td class="border px-4 py-2">Fläche</td>
                          <td class="border px-4 py-2">
                            170,46 km<sup>2</sup>
                          </td>
                        </tr>
                        <tr>
                          <td class="border px-4 py-2">Fläche Erneuerbare Energien</td>
                          <td class="border px-4 py-2">
                            20,85 km<sup>2</sup>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="w-[15rem] pt-8">
                    <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-sky-800 px-2.5 py-1.5 text-base text-center font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
                       href="/questionsDefault/regionToday"><span class="flex justify-center items-center">Details sehen</span></a>
                  </div>
                </div>
              </div>
              <div class="flex-1 overflow-auto w-full">
                <div class="relative w-full h-[32rem] overflow-hidden">
                  <img alt="Map"
                       loading="lazy"
                       decoding="async"
                       data-nimg="fill"
                       class="absolute inset-0 w-full h-[32rem] object-cover"
                       style="position:absolute;
                              height:100%;
                              width:100%;
                              left:0;
                              top:0;
                              right:0;
                              bottom:0;
                              object-fit:cover;
                              color:transparent;
                              z-index:-10"
                       sizes="100vw"
                       srcSet="/_next/image?url=%2Fimages%2Fmap_image.png&amp;w=640&amp;q=75 640w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=750&amp;q=75 750w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=828&amp;q=75 828w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=1080&amp;q=75 1080w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=1200&amp;q=75 1200w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=1920&amp;q=75 1920w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=2048&amp;q=75 2048w,
                               /_next/image?url=%2Fimages%2Fmap_image.png&amp;w=3840&amp;q=75 3840w"
                       src="/_next/image?url=%2Fimages%2Fmap_image.png&amp;w=3840&amp;q=75" />
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="bg-white pb-32">
          <div class="mx-auto max-w-7xl px-8">
            <div class="flex gap-x-12" id="energy-transition">
              <div>
                <p class="max-w-xl mb-8 p-8 bg-slate-100 font-semibold mt-20">
                  Hauptziel ist es, bis 2040 eine CO2-Emission von 0% zu erreichen. Gemeinsam können wir unsere Region zu einem Vorreiter der Energiezukunft machen und damit auch einen wichtigen Beitrag zu den nationalen Energiezielen leisten.
                </p>
              </div>
              <div>
                <h1 class="text-2xl font-semibold pb-8">Chancen der Energiewende</h1>
                <p class="max-w-xl mb-8">
                  Die Energiewende bringt Herausforderungen mit sich. Veränderungen in der Infrastruktur, wirtschaftliche Auswirkungen und Anpassungen im Lebensstil können Unsicherheiten auslösen. Eine nachhaltige und gerechte Lösung stellt sicher, dass der Übergang zu sauberer Energie der gesamten Gemeinschaft zugutekommt.
                </p>
                <p class="max-w-xl mb-8">
                  Es gibt mehrere Wege, das Hauptziel zu erreichen. Diese Wege werden durch verschiedene Zukunftsszenarien dargestellt. Mithilfe einiger Fragen können Sie das beste Zukunftsszenario und damit die optimale Lösung für die Region finden.
                </p>
                <div class="w-[15rem] pt-8">
                  <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-sky-800 px-2.5 py-1.5 text-base text-center font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
                     href="/questionsDefault/challenges"><span class="flex justify-center items-center">Details sehen</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white pb-32">
          <div class="mx-auto max-w-7xl px-8">
            <div class="flex flex-col gap-x-12" id="glossar-help">
              <h1 class="text-2xl font-semibold pb-8">Häufige Fragen &amp; Ressourcen</h1>
              <div data-orientation="vertical">
                <div data-state="closed" data-orientation="vertical" class="border-b">
                  <h3 data-orientation="vertical" data-state="closed" class="flex">
                    <button type="button"
                            aria-controls="radix-:R1aifkq:"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-:Raifkq:"
                            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                            data-radix-collection-item="">
                      Was ist das Ziel der App?
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                        <path d="m6 9 6 6 6-6"></path>
                      </svg>
                    </button>
                  </h3>
                  <div data-state="closed"
                       id="radix-:R1aifkq:"
                       hidden=""
                       role="region"
                       aria-labelledby="radix-:Raifkq:"
                       data-orientation="vertical"
                       class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                       style="--radix-accordion-content-height:var(--radix-collapsible-content-height);
                              --radix-accordion-content-width:var(--radix-collapsible-content-width)"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" class="border-b">
                  <h3 data-orientation="vertical" data-state="closed" class="flex">
                    <button type="button"
                            aria-controls="radix-:R1iifkq:"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-:Riifkq:"
                            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                            data-radix-collection-item="">
                      Welche Szenarien werden in der App angeboten?
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                        <path d="m6 9 6 6 6-6"></path>
                      </svg>
                    </button>
                  </h3>
                  <div data-state="closed"
                       id="radix-:R1iifkq:"
                       hidden=""
                       role="region"
                       aria-labelledby="radix-:Riifkq:"
                       data-orientation="vertical"
                       class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                       style="--radix-accordion-content-height:var(--radix-collapsible-content-height);
                              --radix-accordion-content-width:var(--radix-collapsible-content-width)"></div>
                </div>
              </div>
              <div data-orientation="vertical">
                <div data-state="closed" data-orientation="vertical" class="border-b">
                  <h3 data-orientation="vertical" data-state="closed" class="flex">
                    <button type="button"
                            aria-controls="radix-:R1bifkq:"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-:Rbifkq:"
                            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                            data-radix-collection-item="">
                      Wie wird ein passendes Szenario für die Region ausgewählt?
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                        <path d="m6 9 6 6 6-6"></path>
                      </svg>
                    </button>
                  </h3>
                  <div data-state="closed"
                       id="radix-:R1bifkq:"
                       hidden=""
                       role="region"
                       aria-labelledby="radix-:Rbifkq:"
                       data-orientation="vertical"
                       class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                       style="--radix-accordion-content-height:var(--radix-collapsible-content-height);
                              --radix-accordion-content-width:var(--radix-collapsible-content-width)"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" class="border-b">
                  <h3 data-orientation="vertical" data-state="closed" class="flex">
                    <button type="button"
                            aria-controls="radix-:R1jifkq:"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-:Rjifkq:"
                            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                            data-radix-collection-item="">
                      Welche Informationen erhalte ich durch die Nutzung der App?
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                        <path d="m6 9 6 6 6-6"></path>
                      </svg>
                    </button>
                  </h3>
                  <div data-state="closed"
                       id="radix-:R1jifkq:"
                       hidden=""
                       role="region"
                       aria-labelledby="radix-:Rjifkq:"
                       data-orientation="vertical"
                       class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                       style="--radix-accordion-content-height:var(--radix-collapsible-content-height);
                              --radix-accordion-content-width:var(--radix-collapsible-content-width)"></div>
                </div>
              </div>
              <div data-orientation="vertical">
                <div data-state="closed" data-orientation="vertical" class="border-b">
                  <h3 data-orientation="vertical" data-state="closed" class="flex">
                    <button type="button"
                            aria-controls="radix-:R1cifkq:"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-:Rcifkq:"
                            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                            data-radix-collection-item="">
                      Wer kann die App nutzen?
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                        <path d="m6 9 6 6 6-6"></path>
                      </svg>
                    </button>
                  </h3>
                  <div data-state="closed"
                       id="radix-:R1cifkq:"
                       hidden=""
                       role="region"
                       aria-labelledby="radix-:Rcifkq:"
                       data-orientation="vertical"
                       class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                       style="--radix-accordion-content-height:var(--radix-collapsible-content-height);
                              --radix-accordion-content-width:var(--radix-collapsible-content-width)"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" class="border-b">
                  <h3 data-orientation="vertical" data-state="closed" class="flex">
                    <button type="button"
                            aria-controls="radix-:R1kifkq:"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-:Rkifkq:"
                            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]&gt;svg]:rotate-180"
                            data-radix-collection-item="">
                      Wie unterstützt die App die CO₂-Neutralität?
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-chevron-down h-4 w-4 shrink-0 transition-transform duration-200">
                        <path d="m6 9 6 6 6-6"></path>
                      </svg>
                    </button>
                  </h3>
                  <div data-state="closed"
                       id="radix-:R1kifkq:"
                       hidden=""
                       role="region"
                       aria-labelledby="radix-:Rkifkq:"
                       data-orientation="vertical"
                       class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
                       style="--radix-accordion-content-height:var(--radix-collapsible-content-height);
                              --radix-accordion-content-width:var(--radix-collapsible-content-width)"></div>
                </div>
              </div>
              <div class="w-[15rem] pt-8">
                <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-sky-800 px-2.5 py-1.5 text-base text-center font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
                   href=""><span class="flex justify-center items-center">Glossar und FAQ sehen</span></a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="fixed bottom-0 left-0 w-full bg-white py-2 px-6 border-t border-slate-200">
        <div class="flex justify-end text-sm">
          <a href="#" class="me-4">Impressum</a><a href="#">Datenschutz</a>
        </div>
      </footer>
    </div>
  </body>
</html>
