{% extends 'base.html' %}

{% block title %}
  Karte
{% endblock title %}
{% block sources %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
{% endblock sources %}
{% block content %}
  <div id="mapframe"></div>
  <script>
    var map = L.map('mapframe').setView([54, 13.8], 10);
    // various links
    const osmLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>';

    // base layers
    L.tileLayer(
      'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Tiles &copy; ' + osmLink + ' Contributors',
        maxZoom: 19,
      }).addTo(map);

    //const gisLink = 'Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';
    //L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    //attribution: 'Tiles &copy; ' + gisLink,
    //maxZoom: 19,
    //}).addTo(map);
  </script>
{% endblock content %}
