{% extends 'base.html' %}

{% load static i18n compress %}

{% block title %}
  Karte
{% endblock title %}
{% block css %}
  {{ block.super }}
  {% compress css %}
    <link href="{% static 'vendors/maplibre/css/maplibre-gl.css' %}"
          rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet"
          href="{% static 'django_mapengine/css/legend.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main_layout.css' %}" />
  {% endcompress %}
{% endblock css %}
{% block javascript %}
  {% compress js %}
    <script src="{% static 'vendors/maplibre/js/maplibre-gl.js' %}"></script>
    <script src="{% static 'vendors/pubsub/js/pubsub.js' %}"></script>
    <script src="{% static 'vendors/jquery/jquery.slim.min.js' %}"></script>
  {% endcompress js %}
{% endblock javascript %}
{% block content %}
  {% include 'django_mapengine/legend.html' %}
  <div id="map"></div>
{% endblock content %}
{% block javascript_inline %}
  {% include 'django_mapengine/map_json.html' %}
  {% compress js %}
    {% include 'django_mapengine/map_js.html' %}
    <script src="{% static 'django_mapengine/js/legend.js' %}"></script>
  {% endcompress %}
{% endblock javascript_inline %}
