{% extends "base.html" %}

{% block main %}
  <nav class="flex items-center justify-center px-6 py-2 border border-b-slate-200">
    <div class="flex relative w-full max-w-7xl px-2 sm:px-6 lg:px-8">
      <span class="text-sky-800 font-semibold"><a href="/">Startseite</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
      </svg>
      <span class="text-sky-800 font-semibold"><a href="/questionsDefault/challenges">Herausforderungen und Chancen</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
      </svg>
      <span>Region heute</span>
    </div>
  </nav>
  <div class="flex flex-col justify-center items-center pt-16 pb-48">
    <img loading="lazy"
         width="1026"
         height="1587"
         decoding="async"
         data-nimg="1"
         style="color:transparent"
         src="/images/region_heute_page.svg" />
  </div>
  <nav class="fixed bottom-[37px] left-0 w-full bg-white py-2 px-6 border-t border-slate-200">
    <div class="flex justify-center">
      <div class="flex">
        <div class="pe-2">
          <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-transparent px-2.5 py-1.5 text-base text-center font-semibold text-sky-800 shadow-sm hover:bg-sky-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
             href="/questionsDefault/challenges"><span class="flex justify-center items-center"><span class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 aria-hidden="true"
                 data-slot="icon"
                 class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
            </svg>
          </span>Herausforderungen und Chancen</span></a>
        </div>
        <div class="pe-2">
          <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-sky-800 px-2.5 py-1.5 text-base text-center font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
             href="/questionsDefault/scenariosOverview"><span class="flex justify-center items-center"><span class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 aria-hidden="true"
                 data-slot="icon"
                 class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </span>Szenarienübersicht</span></a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
