{% extends "base.html" %}

{% block main %}
  <nav class="flex items-center justify-center px-6 py-2 border border-b-slate-200">
    <div class="flex relative w-full max-w-7xl px-2 sm:px-6 lg:px-8">
      <span class="text-sky-800 font-semibold"><a href="{% url 'reenact:index' %}">Startseite</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
      <span class="text-sky-800 font-semibold"><a href="{% url 'reenact:challenges' %}">Herausforderungen und Chancen</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
      <span class="text-sky-800 font-semibold"><a href="{% url 'reenact:region_today' %}">Region heute</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
      <span class="text-sky-800 font-semibold"><a href="{% url 'reenact:scenarios_overview' %}">Szenarienübersicht</a></span>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           aria-hidden="true"
           data-slot="icon"
           class="w-6 h-6 ms-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
      <span>Szenario Details</span>
    </div>
  </nav>
  <main class="grow">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-12 pb-32">
      <div class="relative flex justify-center pb-8">
        <h1 class="text-xl font-semibold pe-4">Mein Zukunftszenario</h1>
      </div>
      <div class="flex flex-wrap -mx-2 mb-10">
        <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0 flex">
          <div class="bg-white p-6 border rounded-lg shadow flex flex-col w-full">
            <h3 class="text-lg font-medium flex-grow">Gesamtenergie -produktion</h3>
            <p class="text-3xl font-bold">234 GWh</p>
            <p class="text-sm">+8,3%</p>
          </div>
        </div>
        <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0 flex">
          <div class="bg-white p-6 border rounded-lg shadow flex flex-col w-full">
            <h3 class="text-lg font-medium flex-grow">Anteil Flächennutzung</h3>
            <p class="text-3xl font-bold">8,8%</p>
            <p class="text-sm">+150%</p>
          </div>
        </div>
        <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0 flex">
          <div class="bg-white p-6 border rounded-lg shadow flex flex-col w-full">
            <h3 class="text-lg font-medium flex-grow">Windkraft</h3>
            <p class="text-3xl font-bold">100 GWh</p>
            <p class="text-sm">+200%</p>
          </div>
        </div>
        <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0 flex">
          <div class="bg-white p-6 border rounded-lg shadow flex flex-col w-full">
            <h3 class="text-lg font-medium flex-grow">Photovoltaik</h3>
            <p class="text-3xl font-bold">111 GWh</p>
            <p class="text-sm">+200%</p>
          </div>
        </div>
        <div class="w-full md:w-1/6 px-2 mb-4 md:mb-0 flex">
          <div class="bg-white p-6 border rounded-lg shadow flex flex-col w-full">
            <h3 class="text-lg font-medium flex-grow">Biomasse</h3>
            <p class="text-3xl font-bold">3,0 GWh</p>
            <p class="text-sm">+50%</p>
          </div>
        </div>
        <div class="w-full md:w-1/6 px-2 flex">
          <div class="bg-white p-6 border rounded-lg shadow flex flex-col w-full">
            <h3 class="text-lg font-medium flex-grow">Wasserstoff</h3>
            <p class="text-3xl font-bold">4,8 GWh</p>
            <p class="text-sm">+125%</p>
          </div>
        </div>
      </div>
      <div class="columns-2 ">
        <div class="bg-white pe-6 mb-10">
          <p class="mb-6">
            Dieses Szenario setzt auf eine ausgewogene Mischung aus erneuerbaren Energiequellen, um die Klimaziele 2040 zu erreichen. Durch die Kombination von Photovoltaikanlagen, Windparks, Biomasse und Bioenergie wird der Energiebedarf nachhaltig gedeckt und die Abhängigkeit von einer einzelnen Energieart reduziert.
          </p>
          <p class="mb-6">
            Der Einsatz von PV-Anlagen auf Dächern und Freiflächen ergänzt die Windenergie und nutzt vorhandene Ressourcen optimal. Moderater Flächenverbrauch schützt natürliche Gebiete und berücksichtigt den Naturschutz.
          </p>
          <p class="mb-6">
            Einwohner und lokale Wirtschaft sind eingeladen, aktiv teilzunehmen. Die Maßnahmen sind nicht nur umweltschonend, sondern auch neu wirtschaftlich.
          </p>
        </div>
        <div class="p-6 bg-slate-100">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <h4 class="font-semibold mb-2">Vorteile</h4>
              <ul class="list-disc list-inside space-y-1">
                <li>Ausgewogener Energiemix erhöht Resilienz und Zuverlässigkeit.</li>
                <li>Nutzung mehrerer erneuerbarer Quellen reduziert die Abhängigkeit von einer einzigen Energieart.</li>
                <li>Moderater Flächenverbrauch, wodurch natürliche Gebiete besser erhalten bleiben.</li>
              </ul>
            </div>
            <div>
              <h4 class="font-semibold mb-2">Nachteile</h4>
              <ul class="list-disc list-inside space-y-1">
                <li>Komplexere Infrastruktur und Verwaltung aufgrund der Vielfalt der Energiequellen.</li>
                <li>Höhere Anfangskosten und logistische Herausforderungen beim Aufbau diverser erneuerbarer Projekte.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-16 pb-16">
        <img loading="lazy"
             width="1216"
             height="724"
             decoding="async"
             data-nimg="1"
             alt="details"
             src="/images/details_graphs.svg" />
      </div>
    </div>
  </main>
  <nav class="fixed bottom-[37px] left-0 w-full bg-white py-2 px-6 border-t border-slate-200">
    <div class="flex justify-center">
      <div class="flex">
        <div class="pe-2">
          <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-transparent px-2.5 py-1.5 text-base text-center font-semibold text-sky-800 shadow-sm hover:bg-sky-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
             href="{% url 'reenact:create_scenario' %}"><span class="flex justify-center items-center"><span class="me-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 aria-hidden="true"
                 data-slot="icon"
                 class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
          </span>Szenario ändern</span></a>
        </div>
        <div class="pe-2">
          <a class="block rounded-full min-w-[100px] border-2 border-sky-800 bg-sky-800 px-2.5 py-1.5 text-base text-center font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
             href="{% url 'reenact:comparison' %}"><span class="flex justify-center items-center">Szenarienvergleich</span></a>
        </div>
      </div>
    </div>
  </nav>
{% endblock main %}
